@charset "utf-8";
/* CSS Document */
*{padding:0px; margin:0px;}

.tex{ clear:both;}

.box{border:1px solid #FFFFFF;
	width:1100px;
	height:auto;
	margin:0 auto;
	background-color:#E7F4FC;
	margin-top: 10px;
	
	}
.banner{
	height:140px;
	background-image:url(../images/timg1.png);
	background-size: 100% 100%;
	}
.menu{
	height:30px;
	line-height:50px;
	background-color: #E8F5FE;
	text-align:left;
	font-size:14px;
	font-family:"宋体";
	}
	
.menu label{
	margin-left: 150px;
}

.menu span{
	width:700px;
	float:right;}
.left{
	width:20%;
	height:660px;
	text-align:center;	
	border:1px solid #CCC;
	background-color: #FFF;
	float:left;
	background: url(../images/timg6.png);
	}
.left img{ margin-top: 35px;}
.left ul li{
	border:1px solid #A9C9E2;
	background-color: #E8F5FE;
	border-radius:0px 10px 10px 0px;	
	margin:20px auto;
	list-style:none;
	width:200px;
	height:50px;
	line-height:50px;
	font-size:25px;	
	}
.left ul li a{
	color:#000;
	font-weight: bold;
	font-size: 20px;
	text-decoration:none;
	}
.right{
	width:79%;
	background-color:#E7F4FC;
	float:left;
	
	}
.right label{
	display:inline-block;
	font-size:15px;
	background-color: #E8F5FE;
	height:30px;
	width:100%;
	line-height:40px;
	margin-left:5px;
	}
.title ul li a{
	margin-right:80px;
	color:#000;
	font-size:12px;
	font-weight:bold;	
	text-decoration:none;
	}
.title ul li span a{
	margin-left:150px;
	color:#000;
	float:left;
	font-size:12px;
	}
.right form{
	width:100%;
	height:90%;
	}
.right form ul li{
	border-bottom:1px #ececec dashed;
	background-position:left;
	padding:5px 0px 10px;
	text-align:left;
	color:#7a7a7a;	
	list-style-type: square;color: #0099ff;font-size: 14px;line-height: 15px;
	
	}
.right form ul li span a{
	font-size:14px;
	text-decoration:none;
	color:#000;
	float:left;
	}
.right form ul li:hover{color: #ff6900;}
.right form ul li:hover a{color: #ff6900; text-decoration:underline;}
.right form ul li input{ width: 70px; margin-right: 20px;}
.right form ul a{ color: #0099ff;}
.btnn{
	text-align:center;
	width:80px;
	height:30px;
	float:right;
					/*按钮美化*/
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color: #E8F5FE;
	
	}
.footer{
	width: 1100px;
		background-color:#A6DAF0;	
	}

.footer span{
	width:180px;
	margin: 400px;

	}
.sp{ color: #000000;}
.nei{ 
	white-space:nowrap; /*不换行*/
	width: 400px; 
	text-overflow: ellipsis;/*截去超出宽度的内容*/
	overflow:hidden; /*将多出的文本隐藏*/
	/*border:1px solid #000000;*/
	
}
.fen { margin-top: 20px;}
